body{
color: aquamarine;

text-align: center;
}
#content{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  max-width: 960px;
  margin: 0 auto;
}

#content div{
  background: blue;
  padding: 30px;
  
}
#content div:nth-child(even){
  background: green;
}
